<h1>Welcome to Bench Buddy</h1>
{{! <p>Welcome Ironhacker!</p> }}

<div class="homebody">

  <div class="app-description">
    <h1>We take the headache out of managing your hockey team.</h1>

    <p>Bench Buddy is a Schedule and Team Management app designed for Hockey.</p>
  </div>

  <div class="signup-form">
    {{#if data.currentlyLoggedInUser}}
      <div class="form-backfround">

        <h1>We hope you are enjoying the app.</h1>
        <p>Invite your friends. </p>

        <form action="/auth/invite-friend" method="POST">
          {{! <label>
    First Name
    <input type="text" name="firstname" />
  </label>
  <br /> }}
          <label>
            Friend Name
            <br />
            <input
              type="text"
              name="fullname"
              placeholder="Alexander Ovechkin"
            />
          </label>
          <br />
          {{! <label>
    Phone Number
    <br> <input type="text" name="phonenumber" />
  </label>
  <br /> }}

          <label>
            Friend Email
            <br />
            <input
              type="email"
              name="email"
              placeholder="alex.ovechkin@capitals.com"
            />
          </label>
          <br />

          {{! <label>
            Password
            <br />
            <input
              type="password"
              name="password"
              placeholder="Crosbysucks123$$"
            />
          </label>
          <br /> }}

          <button type="submit">Send Invite</button>
        </form>
      </div>{{else}}
      <div class="form-backfround">

        <h1>Create your FREE account in one click</h1>
        <p>Free to use. No credit card required. </p>

        <form action="/auth/signup" method="POST">
          {{! <label>
    First Name
    <input type="text" name="firstname" />
  </label>
  <br /> }}
          <label>
            Your Name
            <br />
            <input
              type="text"
              name="fullname"
              placeholder="Alexander Ovechkin"
            />
          </label>
          <br />
          {{! <label>
    Phone Number
    <br> <input type="text" name="phonenumber" />
  </label>
  <br /> }}

          <label>
            Email
            <br />
            <input
              type="email"
              name="email"
              placeholder="alex.ovechkin@capitals.com"
            />
          </label>
          <br />

          <label>
            Password
            <br />
            <input
              type="password"
              name="password"
              placeholder="Crosbysucks123$$"
            />
          </label>
          <br />

          <button type="submit">Signup</button>
        </form>
      </div>
    {{/if}}
  </div>
</div>

{{!-- {{#each division}} --}}