<h1>Add Teams To Your Account</h1>

<form action="/team/add-teams/{{theUser._id}}" method="post">

  <label>
    Team Code
    <input type="text" name="teamcode" />
  </label>

  <button type="submit">Confirm</button>

</form>