<h1>Join a team</h1>

<form action="/auth/join-teams/{{theUser._id}}" method="post">

  <label>
    Team Code
    <input type="text" name="joincode" />
  </label>

  <button type="submit">Confirm</button>

</form>