body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
  align-items: center;
  padding: 10px 30px;
}

header nav ul {
  display: flex;
  list-style: none;

}

header nav ul li {
  margin-left: 10px;

}

#allGames {
  text-align: center;
}

.table-head {
  display: flex;
  list-style: none;
}

.date-container {
  display: inline-block;
  text-align: center;
  border: 1px solid white;
}

.date-container li {
  padding: 5px 0;
  font-weight: bold;
}

.table-dates {
  list-style: none;
  background-color: gray;
  width: 940px;
}

.game-container {
  margin: auto;
  align-self: center;
  list-style: none;
  justify-content: center;
  display: flex;
  text-align: center;
  width: 940px;
}

.table-head {
  margin: auto;
  align-self: center;
  list-style: none;
  justify-content: center;
  display: flex;
  text-align: center;
  width: 940px;
}

.table-head li {
  border: 1px solid black;
  text-align: center;
  padding: 5px;
  background-color: black;
  color: white;
}

.game-container li {
  border: 1px solid black;
  text-align: center;
  padding: 5px;
}

input {
  margin-bottom: 5px;
}



.column-division {
  width: 80px;
}

.column-homeTeam {
  width: 200px;
}

.column-awayTeam {
  width: 200px;
}

.column-date {
  width: 300px;
}

.column-time {
  width: 80px;
}

.column-location {
  width: 80px;
}

.hide-container {
  display: none;
}

.admin-buttons {
  list-style: none;
  display: flex;
  padding-inline-start: 0px;
}

.admin-buttons li {
  margin-left: 10px;
}

.filter-ul ul li:hover {

  cursor: pointer;


  /* sport-tab/active */


  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 10px 10px 16px;
  gap: 10px;

  width: 120px;
  height: 44px;

  background: #292929;
  border: 2px solid #F5620F;
  border-radius: 29px;


}

.filter-ul {
  /* Frame 44 */


  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  /* position: absolute; */
  width: 100%;
  /* height: 44px; */
  left: 16px;
  top: calc(50% - 44px/2);
  margin-bottom: 30px;
}

.filter-ul ul li {
  /* sport-tab/normal */


  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 10px 10px 16px;
  gap: 10px;

  width: 120px;
  height: 44px;

  background: #292929;
  border: 1px solid #4B4B4B;
  border-radius: 29px;
}



.filter-ul ul li a {
  /* text */


  width: 90px;
  height: 21px;

  /* nav/14px */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  text-align: center;

  color: #FFFFFF;
}

.filter-ul ul li:hover>a {
  color: #F5620F;
}

.filter-ul ul {
  /* Frame 44 */


  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  flex-wrap: wrap;

  /* position: absolute; */
  width: 100%;
  /* height: 44px; */
  left: 16px;
  top: calc(50% - 44px/2);
}

.full-table {
  margin-top: 20px;
}

#search {
  width: 80%;
  align-self: center;
  height: 30px;
}