@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

nav {
  display: flex;
  align-items: center;
}

nav div {
  color: white;
  font-size: 50px;
}

header nav ul {
  display: flex;
  list-style: none;

}

@media (max-width: 580px) {

  header nav ul {
    display: none;
  }

}

@media (max-width: 1134px) {

  #playerDataCardTeamPage {
    display: none;
  }

}

@media (min-width: 580px) {

  nav div {
    display: none;
  }


}



#admin-routes-button {
  position: fixed;
  bottom: 0;
  right: 0;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 5px 10px;
  font-weight: 400;
}

.admin-routes-hide {
  display: none;
}



body {
  padding: 15px;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

h5,
h4 {
  margin: 0;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #cc0000;
  align-items: center;
  padding: 10px 30px;
}



header nav ul li {
  /* margin-left: 10px; */

}

header nav ul li a {
  text-decoration: none;
  color: white;
  border-right: 1px solid white;
  padding: 0 10px;


}

.error-div {
  margin-top: 10px;
  background-color: red;
  font-size: large;
  padding: 10px;
  font-weight: 600;
  text-align: center;
}

/* =-=-=-=-==-=-=-=-=--=-= All Games Div */

#allGames .games-of-day-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* max-width: 950px; */
  /* background-color: aqua; */
}

/* =-=-=-=-==-=-=-=-=--=-= All Games Div */

.games-filter {
  text-align: center;
  /* align-items: center;
  align-content: center; */
}

@media (min-width: 830px) {
  .games-of-day-container {
    display: flex;
    flex-wrap: wrap;
  }


}

@media (min-width: 445px) {

  .game-container-link {

    display: inline-block;
    width: 400px;
    margin: 5px;

  }
}








.game-container {
  /* background-color: red; */
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid black;
  height: 150px;
  justify-content: space-around;
  max-width: 400px;

}



/* .game-container div {
  border: 1px dotted green;
  margin: 2px;
} */

.game-description {
  /* display: flex;
  justify-content: space-around; */
  /* border: 1px solid red; */
}




.game-description-teams .vs {
  margin: 10px 0 10px 20px;
  display: inline;
  width: 10%;
  /* padding: 0; */
  /* margin: 0; */
}

.game-description-teams .game-info {
  font-size: 16px;
  /* margin: 10px 0 10px 20px; */
  display: inline;
  /* padding: 0; */
  /* margin: 0; */
}

.game-description-datetime {
  display: flex;
  /* flex-direction: column; */
  /* width: 25%; */
  /* align-items: center; */
  justify-content: center;
}

.game-description-datetime h4 {
  display: inline;
  margin-bottom: 10px;
  margin-top: 10px;
}

.division-location {
  display: flex;
  justify-content: space-around;
  height: 30px;
  align-items: center;
  border-top: 1px solid black;
  width: 95%;
  align-self: center;

}



.date-container h3 {
  color: #fff;
  margin: 10px 0;
  padding: 16px 0;
  font-weight: 400;
}

.date-container {

  background-color: rgb(11, 47, 227);
  transform: skew(9deg, 0deg);
  font-style: italic;
  text-align: center;
  color: white;
  font-weight: 400;
}

.game-container-link {
  text-decoration: none;
  color: black;
  /* display: inline-block; */

}

.game-container:hover {
  background-image: url(/images/hockey-rink-horizontal.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;



}

.game-container:hover .game-description-datetime h4 {
  background-color: #cc0000;
  transform: skew(9deg, 0deg);
  font-style: italic;
  text-align: center;
  color: white;
  font-weight: 400;
  /* padding: 5px 10px; */
}

hr {
  width: 100%;
  border-top: 2px solid #cc0000;
}



input {
  margin-bottom: 5px;
}




.admin-buttons {
  list-style: none;
  display: flex;
  padding-inline-start: 0px;
}

.admin-buttons li {
  margin-left: 10px;
}

.filter-ul ul li:hover {

  cursor: pointer;


  /* sport-tab/active */


  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 10px 10px 16px;
  gap: 10px;

  width: 120px;
  height: 44px;

  background: #292929;
  border: 2px solid #F5620F;
  border-radius: 29px;


}

.filter-ul {
  /* Frame 44 */


  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  /* position: absolute; */
  width: 100%;
  /* height: 44px; */
  left: 16px;
  top: calc(50% - 44px/2);
  margin-bottom: 30px;
}

.filter-ul ul li {
  /* sport-tab/normal */


  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 10px 10px 16px;
  gap: 10px;

  width: 120px;
  height: 44px;

  background: #292929;
  border: 1px solid #4B4B4B;
  border-radius: 29px;
}



.filter-ul ul li a {
  /* text */


  width: 90px;
  height: 21px;

  /* nav/14px */

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  text-align: center;

  color: #FFFFFF;
}

.filter-ul ul li:hover>a {
  color: #F5620F;
}

.filter-ul ul {
  /* Frame 44 */


  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  flex-wrap: wrap;

  /* position: absolute; */
  width: 100%;
  /* height: 44px; */
  left: 16px;
  top: calc(50% - 44px/2);
}

.full-table {
  margin-top: 20px;
}

#search {
  width: 80%;
  align-self: center;
  height: 30px;
}

.homebody {
  background-image: url('/images/homebackground70.jpg');
  width: 90vw;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relaive;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-wrap: wrap;
}

.form-backfround {
  width: 90%;
  height: 90%;
  background-color: #242424;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.form-backfround form {
  margin: 0;

}



.homebody div {
  /* border: 1px dotted red; */
  width: 500px;
  /* height: 400px; */
  margin: 20px;
}

.app-description {
  height: 300px;
}

.signup-form {
  height: 400px;
}

.homebody .app-description h1 {
  font-size: 3rem;
}

.homebody .app-description p {
  font-size: 1.7rem;
}

.homebody .signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.homebody .signup-form h1 {
  font-size: 1.7rem;
  display: inline;
  margin: 0 0 10px;
  color: #cc0000;
  font-weight: 500;
}

.homebody .signup-form p {
  font-size: 1.2rem;
  display: inline;
  margin: 0 0 10px;
  color: rgb(11, 47, 227);
}

.homebody .signup-form label {
  font-size: 1rem;
  display: inline;
  margin: 0 0 10px;
  color: white;
}

.homebody .signup-form input {
  text-align: center;
  font-size: 1rem;
  width: 280px;
  margin: 5px 0;

}

.homebody .signup-form button {

  margin: 15px 0 0 0;
  background-color: #cc0000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;


}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  position: fixed;
  top: 0;
  left: 0;
}

#side-menu {
  width: 150px;
  background-color: black;
  position: fixed;
  right: 0;
  top: 0;
  margin: 23px;
  /* height: 200px; */
  display: none;
}

#side-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0;
}

#side-menu ul a {
  text-decoration: none;
  color: white;
  margin: 8px;
}

#side-menu ul li {
  margin: 10px;
}

#close-side-menu {
  color: white;
  margin: 20px 0 5px 0;
}

#side-menu ul hr {
  width: 80%;
  border: 1px solid #cc0000;

}

#profile-picture {
  width: 250px;
  height: 250px;
  border: 4px solid black;
}

#playerDataCardTeamPage,
#playerDataCard {
  display: flex;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  width: 600px;
}

#playerDataCard div {
  /* border: 2px dotted red; */
}

#playerData {
  width: 400px;
  margin-left: 20px;
}

#playerData h1 {
  font-size: 52px;
  margin: 50px 0 0 0;
}

#playerData h3 {
  font-size: 20px;
  margin: 0 0 5px;
}

#joined-teams {
  /* display: flex; */
  padding-left: 20px;
}