body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
  align-items: center;
  padding: 10px 30px;
}

header nav ul {
  display: flex;
  list-style: none;

}

header nav ul li {
  margin-left: 10px;

}

#allGames {
  text-align: center;
}

.table-head {
  display: flex;
  list-style: none;
}

.date-container {
  display: inline-block;
  text-align: center;
  border: 1px solid white;
}

.date-container li {
  padding: 5px 0;
  font-weight: bold;
}

.table-dates {
  list-style: none;
  background-color: gray;
  width: 940px;
}

.game-container {
  margin: auto;
  align-self: center;
  list-style: none;
  justify-content: center;
  display: flex;
  text-align: center;
  width: 940px;
}

.table-head {
  margin: auto;
  align-self: center;
  list-style: none;
  justify-content: center;
  display: flex;
  text-align: center;
  width: 940px;
}

.table-head li {
  border: 1px solid black;
  text-align: center;
  padding: 5px;
  background-color: black;
  color: white;
}

.game-container li {
  border: 1px solid black;
  text-align: center;
  padding: 5px;
}

input {
  margin-bottom: 5px;
}



.column-division {
  width: 80px;
}

.column-homeTeam {
  width: 200px;
}

.column-awayTeam {
  width: 200px;
}

.column-date {
  width: 300px;
}

.column-time {
  width: 80px;
}

.column-location {
  width: 80px;
}

.hide-container {
  display: none;
}

.admin-buttons {
  list-style: none;
  display: flex;
  padding-inline-start: 0px;
}

.admin-buttons li {
  margin-left: 10px;
}

.filter-buttons {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 13px 23px;
  border: 1px solid #222222;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: #fff;
  color: #222222;


}

.filter-buttons:hover {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14px 24px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
  color: #fff;
}

.all-results {
  display: grid;
  grid-template-columns: 375.5px 375.5px;
  justify-content: center;
  background-color: #fafafa;
  padding: 30px 0;
}

.game-container-details {
  width: 375px;
  height: 110px;
  border: .5px solid grey;
  display: flex;
  align-items: center;
  /* align-items: stretch; */
  background-color: white;
}

.game-container-details-hover {
  width: 375px;
  height: 110px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
}

.game-container-details-hover:hover {
  cursor: pointer;
}

.game-container-details-hover:hover {
  background-color: red;
}

.teams-container {
  width: 70%;
  /* background-color: #00b7ff; */
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  padding-left: 25px;
  height: 60%;
}

.game-date {
  width: 30%;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  height: 60%;
}

.team {
  display: flex;
  align-items: center;
}

.team img {
  height: 24px;
  margin-right: 15px;
}

.team a {
  text-decoration: none;
  color: black;
}

.team a:hover {
  /* text-decoration: none; */
  color: blue;
}

.divider-line {
  height: 70%;
  width: .5px;
  background-color: gray;
  align-self: center;
}